body {
    font-family: Helvetica, sans-serif;
    background-color: #DDD;
    color: #546E7A;
}

section {
    background-color: #FFF;
    height: 600px;
    margin: 20px;
    box-shadow: 0 0 20px gray;
}

#lewy {
    width: 50%;
    float: left;
}

#prawy {
    width: 30%;
    float: right;
}

footer {
    background-color: #5C6BC0;
    color: white;
    padding: 30px;
    clear: both;
}

img {
    width: 100%;
}

h1 {
    background-color: #5C6BC0;
    color: white;
    padding: 10px;
    margin: 0;
    font-weight: 300;
}

h3,
p {
    margin-left: 30px;
}